.welcome.section
  .container
    h1.title.title-big sandia
    h2.title.title-small land
    p Real Interactive Design
.philosophy.section
  .container
    .row
      .col-1
        h1.title-small.text-center Philosophy
    .row
      .col-3
        h2 Imagine
        p Tell us about your project
      .col-3
        h2 Create
        p We build what you need
      .col-3
        h2 Share
        p Show your project
.stages.section
  .container
    .row
      .col-1
        h1.title-small.text-center Stages
    .row
      .col-4
        h2 Design
        p We take your requeriments and transform into sketches and design
      .col-4
        h2 Development
        p After the design we can start building your website
      .col-4
        h2 Tests
        p We have a flexible and agile methodology to test your products in beta
      .col-4
        h2 Launch
        p When the tests are passed we proceed to launch
.clients.section
  .container
    .row
      h1.title-small.text-center Clients
    .row
      .col-5
        h2
      .col-5
        h2
      .col-5
        h2
      .col-5
        h2
      .col-5
        h2
