doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Sandia Land
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory
    link(rel='stylesheet', href='/styles/vendor/normalize.css')
    link(rel='stylesheet', href='/styles/vendor/skeleton.css')
    link(rel='stylesheet', href='/styles/sandia.css')
    link(href='https://fonts.googleapis.com/css?family=Oswald:400,300', rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/styles/vendor/font-awesome.min.css')
    script(src='/js/vendor/modernizr-2.8.3.min.js')
  body
    .page
      header.header
        nav.nav
          p.nav-title Nav
          menu.nav-content
            .container
              li.nav-item
                a(href='/about_us') About us
              li.nav-item
                a(href='/services') Services
              li.nav-item
                a(href='/')
                  img.logo(src='/img/sandialogo.png' alt='')
              li.nav-item
                a(href='/portfolio') Portfolio
              li.nav-item
                a(href='/blog') Blog
        main.main
          != yield
        footer.footer
          .footer-inner
            .container
              .row
                .three.columns
                  .newsletter
                    h3.subtitle Newsletter
                    p Mantente informado de nuestros ultimos diseños y productos
                    form(action='')
                      input(type='text' name='name' placeholder='Nombre')
                      input(type='text' name='email' placeholder='Email')
                      input(type='submit')
                .three.columns
                  .contact
                    h3.subtitle Contact
                    p You can write us at
                    p
                      a(href='mailto:hola@sandialand.in') hola@sandialand.in
                .three.columns
                  .follow
                    h3.subtitle Follow us
                    ul.nav-social
                      li.nav-social__item
                        a(href='https://facebook.com/sandialand')
                          i.fa.fa-facebook-official(aria-hidden='true')
                      li.nav-social__item
                        a(href='https://twitter.com/sandialand')
                          i.fa.fa-twitter(aria-hidden='true')
                      li.nav-social__item
                        a(href='https://behance.net/sandialand')
                          i.fa.fa-behance(aria-hidden='true')
                .three.columns
                  .copyright
                    h3.subtitle Copyright
                    p &copy; 2014 - 2016
                    p Sandia Land

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script.
          window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js<\/script>')
        script(src='/js/plugins.js')
        script(src='/js/main.js')

        //- Google Analytics: change UA-XXXXX-X to be your site's ID.
        script.
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='https://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X','auto');ga('send','pageview');

