.welcome.section
  .container
    h1.title.title-big sandia
    h2.title.title-small land
    p Real Interactive Design
.themes.section
  .container
    .row
      .twelve.columns
        h1.title-small.text-center Site Templates
        p Look the site's templates we are built.
    .row
      .four.columns
        img(src="")
        p
      .four.columns
        img(src="")
        p
      .four.columns
        img(src="")
        p
      .four.columns
        img(src="")
        p
    .row
      .four.columns
        img(src="")
        p
      .four.columns
        img(src="")
        p
      .four.columns
        img(src="")
        p
      .four.columns
        img(src="")
        p
    .row
      .twelve.columns
        a.text-center(href='/about_us#philosophy')
.services.section
  .container
    .row
      .twelve.columns
        h1.title-small.text-center Services
        p Are you interested in our custom work for you?
    .row
      .three.columns
        h2 Design
        p We take your requeriments and transform into sketches and design
      .three.columns
        h2 Development
        p After the design we can start building your website
      .three.columns
        h2 Tests
        p We have a flexible and agile methodology to test your products in beta
      .three.columns
        h2 Launch
        p When the tests are passed we proceed to launch
    .row
      .twelve.columns
        a.text-center(href='/about_us#stages')
