.welcome.section
  .container
    h1.title.title-big sandia
    h2.title.title-small land
    p Real Interactive Design
.themes.section
  .container
    .row
      .twelve.columns
        h1.title-medium.text-center Site Templates
        p.text-small.text-center Look the site templates we are built.
    .row
      .six.columns
        img(src="img/bananamoon.png")
        p Bananamoon
      .six.columns
        img(src="img/abbi.png")
        p Abbi
    .row
      .six.columns
        img(src="img/yes.png")
        p Yes
      .six.columns
        img(src="img/mante.png")
        p Mante
.services.section
  .container
    .row
      .twelve.columns
        h1.title-medium.text-center Services
        p.text-small.text-center Are you interested in our custom work for you?
    .row
      .six.columns
        h2 Design
        p We take your requeriments and transform into sketches and design
      .six.columns
        h2 Development
        p After the design we can start building your website
    .row
      .six.columns
        h2 Tests
        p We have a flexible and agile methodology to test your products in beta
      .six.columns
        h2 Launch
        p When the tests are passed we proceed to launch
