.welcome.section
  .container
    h1.title.title-big sandia
    h2.title.title-small land
    p Real Interactive Design
.philosophy.section
  .container
    .row
      .twelve.columns
        h1.title-small.text-center Philosophy
    .row
      .four.columns
        h2 Imagine
        p Tell us about your project
      .four.columns
        h2 Create
        p We build what you need
      .four.columns
        h2 Share
        p Show your project
    .row
      .twelve.columns
        a.text-center(href='/about_us#philosophy')
.stages.section
  .container
    .row
      .twelve.columns
        h1.title-small.text-center Stages
    .row
      .three.columns
        h2 Design
        p We take your requeriments and transform into sketches and design
      .three.columns
        h2 Development
        p After the design we can start building your website
      .three.columns
        h2 Tests
        p We have a flexible and agile methodology to test your products in beta
      .three.columns
        h2 Launch
        p When the tests are passed we proceed to launch
    .row
      .twelve.columns
        a.text-center(href='/about_us#stages')
.clients.section
  .container
    .row
      .twelve.columns
        h1.title-small.text-center Portfolio
    .row
      .three.columns
        h2 Web Design
        p Our work in Web Design
      .three.columns
        h2 Web Development
        p Our work in Web Development
      .three.columns
        h2 Game Design
        p Our work in Game Design
      .three.columns
        h2 Brand Design
        p Our work in Branding
    .row
      .twelve.columns
        a.text-center(href='/portfolio') Look more
