/*
 *
 * MOBILE FIRST, ALWAYS FIRST
 *
 */

/* DEFAULT RESET */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:after, *:before {
	margin: 0;
	padding: 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: inherit;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 0.9em;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 2em;
}

p {
	font-size: 1em;
}

a {
	font-size: 1em;
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/* GRID */

.container {
	max-width: 94%;
	margin: 0 auto;
}


/* NAVIGATION*/

.nav-title {
	display: none;
	padding: 1em;
	text-align: center;
	background-color: #edf4f4;
	text-transform: uppercase;
	color: #333;
	border-bottom: 2px double #333;
}

/* MEDIA QUERIES */

@media (max-width: 760px) {
	p, a {
		font-size: 1.1em;
	}
}

@media (max-width: 420px) {
	h1 {
		font-size: 1.8em;
		padding: 0.5em 0;
	}
	.title {
		text-align: center;
	}
	.nav-title {
		display: block;
		font-size: 0.9em;
	}
	.nav-menu {
		display: none;
		text-align: center;
		padding: 0.5em 0;
		background-color: #edf4f4;
	}
	.nav-menu li {
		padding: 0.5em 0;
	}
	p, a {
		font-size: 1.2em;
	}
}


