.wrapper-home
  .sections
    .container
      .row
  .sections
    .container
      .row
  .sections
    .container
      .row
  .sections
    .container
      .row
  .sections
    .container
      .row
  .sections
    .container
      .row
  .sections
    .container
      .row
  .sections
    .container
      .row
