<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower/angular.min.js">
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/services.js"></script>
        <script src="/javascripts/controllers.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h1>Manga Dumb</h1>
            </div>
        </div>
    </body>
</html>
