<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Components | Menu</title>
	<link rel="stylesheet" href="../styles/reset.css">
	<link rel="stylesheet" href="../styles/all.css">
	<link rel="stylesheet" href="../styles/menu.css">
</head>
<body>
	<main class="page">
		<nav role="navigation" class="menu_container">
			<ul class="menu">
				<li><a href="">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Projects</a></li>
				<li><a href="">Clients</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav>
		<section class="content"></section>
	</main>
</body>
</html>
